<div class="card">
    <header>
        <h3>{{title}}</h3>
        <p style="font-weight: bold">Posted by {{user.username}} on {{format_date date_created}}</p>
    </header>
    <div>
        <p>{{description}}</p>
    </div>
</div>
