{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>Created by {{user.name}} on {{format_date blog.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}